

html, body {
    height: 100%;
    overflow: hidden;
    font-size: 12px;
    font-family: Verdana, Helvetica, sans-serif;
    overflow-x: auto;
    min-width: 700px;
}


th {
    text-align: left;  
}

